    OPENVPN_API_URL=https://openvpn.server.url
    SESSION_SECRET=secret-key-for-session-management
    PORT=3000
    OPENVPN_USERNAME=username-for-openvpn-api
    OPENVPN_PASSWORD=password-for-openvpn-api